<!DOCTYPE html>
<html>
    <head>
        <title>Cheesy Poofs</title>
        <link rel="icon" type="image/png" href="https://m.media-amazon.com/images/I/717BQwpafqL.jpg"/>
    </head>

    <body style="font-family: sans-serif; padding: 5% 10%; background-image: url('https://bnetcmsus-a.akamaihd.net/cms/content_entry_media/FJPT5455KR5K1589912863345.jpg'); background-size: cover;">
        {{ mounts }}

        <footer>
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        </footer>
    </body>
</html>
